// Global styling for this template

html,
body {
  height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.headcol {
    position: absolute;
    // width: 5em;
    left: 0;
    // top: auto;
    // border-top-width: 1px;
    /*only relevant for first row*/
    // margin-top: -1px;
    /*compensate for top border*/
  }
